In [100]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

In [101]:
WORKING_DIRECTORY = '../data/processed/'

PATHS_TO_MERGE = [
    'reac_13-19.csv',
    'top_5_incident_count.csv',
    'total_incident_count.csv',
    'other_nfirs_stats.csv',
    'populations_clean.csv'
]

In [102]:
dfs = [
    pd.read_csv(WORKING_DIRECTORY + path) \
    for path in PATHS_TO_MERGE
]

In [103]:
merged_df = pd.merge(dfs[0], dfs[1], on='CITYSTATE', how='outer')
merged_df = pd.merge(merged_df, dfs[2], on='CITYSTATE', how='outer')
merged_df = pd.merge(merged_df, dfs[3], on='CITYSTATE', how='outer')
merged_df = pd.merge(merged_df, dfs[4], on='CITYSTATE', how='left')

In [104]:
test = dfs[4]
test[test.CITYSTATE.str.contains('PITTSBURGH')]

       POPULATION           CITYSTATE
33797        1927  EAST PITTSBURGH,PA
34243      303160       PITTSBURGH,PA
34619        1927  EAST PITTSBURGH,PA
34675      303160       PITTSBURGH,PA

In [105]:
100 * merged_df.isnull().sum() / merged_df.shape[0]

CITYSTATE               0.000000
AVG_SCORE               0.662306
111_COUNT               3.386042
113_COUNT               3.386042
131_COUNT               3.386042
151_COUNT               3.386042
142_COUNT               3.386042
TOTAL_INCIDENT_COUNT    2.789966
AVG_SPREAD              2.599553
AVG_MONEY_LOST          2.599553
AVG_FATALITIES          2.599553
AVG_INJURIES            2.599553
AVG_ALARMS              2.599553
SUPPORT                 2.599553
POPULATION              9.330243
dtype: float64

In [107]:
merged_df

,CITYSTATE,AVG_SCORE,111_COUNT,113_COUNT,131_COUNT,151_COUNT,142_COUNT,TOTAL_INCIDENT_COUNT,AVG_SPREAD,AVG_MONEY_LOST,AVG_FATALITIES,AVG_INJURIES,AVG_ALARMS,SUPPORT,POPULATION
0,"ABBEVILLE,AL",79.750000,0.0,0.0,0.0,1.0,0.0,3.0,0.000000,0.000000,0.000000,0.000000,0.166667,6.0,2368.0
1,"ABBEVILLE,GA",57.666667,47.0,7.0,16.0,59.0,12.0,182.0,0.000000,10156.203704,0.000000,0.000000,0.768519,216.0,2666.0
2,"ABBEVILLE,LA",80.200000,212.0,40.0,53.0,28.0,21.0,735.0,0.018150,7704.041487,0.000864,0.003457,0.144339,1157.0,11167.0
3,"ABBEVILLE,SC",94.600000,116.0,48.0,86.0,162.0,5.0,558.0,0.000000,300.339400,0.003212,0.002141,0.002141,934.0,4872.0
4,"ABBOTSFORD,WI",89.000000,24.0,3.0,3.0,0.0,0.0,38.0,0.000000,7584.705882,0.000000,0.000000,0.000000,51.0,2266.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12074,"WEST DEPTFORD,NJ",NaN,160.0,10.0,13.0,18.0,3.0,279.0,0.000000,212.814645,0.000000,0.004577,0.086957,437.0,22408.0
12075,"WESTHAMPTON,NY",NaN,13.0,8.0,2.0,6.0,0.0,51.0,0.000000,0.000000,0.000000,0.000000,0.030303,165.0,NaN
12076,"WINDSOR MILL,MD",NaN,55.0,18.0,70.0,21.0,27.0,337.0,0.000795,1997.587440,0.000000,0.004769,0.359300,1258.0,NaN
12077,"ZION CROSSROADS,VA",NaN,1.0,0.0,0.0,0.0,0.0,1.0,0.000000,0.000000,0.000000,0.000000,0.666667,3.0,NaN
12078,"MILFORD,UT",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,2.0,1490.0

In [106]:
merged_df[merged_df.CITYSTATE == 'PITTSBURGH,PA'].POPULATION

8542    303160.0
8543    303160.0
Name: POPULATION, dtype: float64