In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sqlite3

pd.set_option('display.max_columns', None)

WORKING_DIRECTORY = '../data/raw/nfirs/'

In [18]:
NFIRS_PATHS = [
    'nfirs_fire_hazmat_pdr_2020/nfirs_fire_hazmat_pdr_2020/NFIRS_FIRES_2020_022322',
    'usfa_nfirs_2019_hazmat/USFA NFIRS 2019 Hazmat/NFIRS_FIRES_2019_011921',
    'usfa_nfirs_2018_hazmat/USFA NFIRS 2018 Hazmat/NFIRS_FIRES_2018_110119',
    'usfa_nfirs_2017_hazmat/USFA NFIRS 2017 Hazmat/NFIRS_FIRES_2017_020719',
    'usfa_nfirs_2016_hazmat/USFA NFIRS 2016 Hazmat/NFIRS_FIRES_2016_02-05-2018',
    'usfa_nfirs_2015_hazmat/USFA NFIRS 2015 Hazmat/NFIRS_FIRES_2015_20170215',
    'usfa_nfirs_2014_hazmat/USFA NFIRS 2014 Hazmat/NFIRS_2014_030216',
    'usfa_nfirs_2013_hazmat/USFA NFIRS 2013 Hazmat/FireCauses2013'
]

In [19]:
df = pd.read_csv(WORKING_DIRECTORY + NFIRS_PATHS[-1] + '/causes.txt',
            sep='^',
            encoding='ISO-8859-1',
            low_memory=False)

In [24]:
df.sample()

,STATE,FDID,INC_DATE,INC_NO,EXP_NO,PCC,CAUSE_CODE,GCC,OLD_PCC,OLD_CAUSE
525530,NY,06002,8242013,0602376,0,13,7,3,13,7

In [20]:
conn = sqlite3.Connection('../data/processed/fire_data.db')

In [22]:
incidents = pd.read_sql("""
    SELECT COUNT(*)
    FROM basic_incident bi 
        JOIN incident_address ia
        USING (INCIDENT_KEY)
    WHERE bi.INC_TYPE < 200 
        AND CAST(SUBSTR(ia.INC_DATE, LENGTH(ia.INC_DATE) - 3, 4) AS INTEGER) == 2013
""", conn)
incidents

   COUNT(*)
0    729995

In [26]:
exp = pd.read_sql("""
    SELECT *
    FROM basic_incident
    WHERE INC_TYPE < 200
    LIMIT 100000
""", conn)
exp

,ID,STATE,FDID,INC_DATE,INC_NO,EXP_NO,VERSION,DEPT_STA,INC_TYPE,ADD_WILD,AID,ALARM,ARRIVAL,INC_CONT,LU_CLEAR,SHIFT,ALARMS,DISTRICT,ACT_TAK1,ACT_TAK2,ACT_TAK3,APP_MOD,SUP_APP,EMS_APP,OTH_APP,SUP_PER,EMS_PER,OTH_PER,RESOU_AID,PROP_LOSS,CONT_LOSS,PROP_VAL,CONT_VAL,FF_DEATH,OTH_DEATH,FF_INJ,OTH_INJ,DET_ALERT,HAZ_REL,MIXED_USE,PROP_USE,CENSUS,INCIDENT_KEY
0,4,AK,11100,1102020,20129,0,5.0,2,114,N,N,11020201927,11020201935.0,None,1.102020e+10,A,None,12,86.0,None,NaN,Y,0.0,0.0,5.0,0.0,0.0,8.0,N,0.0,0.0,450000.0,100000.0,0.0,NaN,0.0,NaN,2,N,NN,419,None,AK_11100_01102020_20129_0
1,6,AK,11100,1112020,20136,0,5.0,3,131,N,N,11120201141,11120201150.0,None,1.112020e+10,B,None,31,86.0,None,NaN,Y,0.0,0.0,2.0,0.0,0.0,6.0,N,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,None,N,NN,919,None,AK_11100_01112020_20136_0
2,7,AK,11100,1162020,20212,0,5.0,1,134,N,N,11620201616,11620201620.0,None,1.162020e+10,A,None,14,64.0,None,NaN,Y,0.0,0.0,8.0,0.0,0.0,10.0,N,0.0,0.0,10000.0,5000.0,0.0,NaN,0.0,NaN,1,N,NN,898,None,AK_11100_01162020_20212_0
3,9,AK,11100,1282020,20347,0,5.0,3,132,N,N,12820201256,12820201301.0,None,1.282020e+10,A,None,32,87.0,None,NaN,Y,0.0,0.0,3.0,0.0,0.0,6.0,N,400.0,0.0,150000.0,25000.0,0.0,NaN,0.0,NaN,None,N,NN,961,None,AK_11100_01282020_20347_0
4,11,AK,11100,2062020,20457,0,5.0,1,151,N,N,20620201410,20620201414.0,None,2.062020e+10,A,None,14,11.0,80,NaN,Y,0.0,0.0,4.0,0.0,0.0,8.0,N,150.0,0.0,150.0,0.0,0.0,NaN,0.0,NaN,None,N,NN,938,None,AK_11100_02062020_20457_0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,150467,CA,19110,7042020,195514,0,5.0,None,111,N,4,70420200218,70420200220.0,None,7.042020e+10,A,1,78,12.0,None,NaN,Y,12.0,0.0,0.0,22.0,0.0,0.0,N,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,None,None,None,None,None,CA_19110_07042020_0195514_0
99996,150468,CA,19110,7042020,195530,0,5.0,163,111,N,N,70420200300,70420200308.0,None,7.042020e+10,A,1,163,10.0,12,40.0,Y,10.0,0.0,0.0,27.0,0.0,0.0,N,125000.0,35000.0,375000.0,50000.0,0.0,NaN,0.0,NaN,2,None,None,419,None,CA_19110_07042020_0195530_0
99997,150469,CA,19110,7042020,195535,0,5.0,None,151,N,N,70420200313,70420200316.0,None,7.042020e+10,B,1,93,10.0,None,NaN,Y,6.0,0.0,0.0,16.0,0.0,0.0,N,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,None,None,None,900,None,CA_19110_07042020_0195535_0
99998,150470,CA,19110,7042020,195570,0,5.0,None,131,N,N,70420200438,70420200445.0,70420200452.0,7.042020e+10,A,1,129,10.0,None,NaN,Y,1.0,0.0,0.0,4.0,0.0,0.0,N,35000.0,0.0,35000.0,0.0,0.0,NaN,0.0,NaN,None,None,None,579,None,CA_19110_07042020_0195570_0
99999,150471,CA,19110,7042020,195620,0,5.0,None,100,N,N,70420200645,70420200646.0,None,7.042020e+10,B,1,44,11.0,None,NaN,Y,3.0,0.0,0.0,15.0,0.0,0.0,N,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,None,None,None,961,None,CA_19110_07042020_0195620_0

In [37]:
# exp[exp.INC_DATE == '6042020']\
#     .loc[:, ['INCIDENT_KEY', 'EXP_NO', 'INC_TYPE']] \
#     .head(20)

In [38]:
exp.EXP_NO.max()

35